.App {
  /* border: 5px solid rgb(65, 255, 17); */

  /* text-align: center; */
  background-color: #222738;
  z-index: -1;
  color: white;
  margin: 0;
}



.App-header {
  width: 100%;
  background-color: #2c3242;
  color: white;
  /* border:   3px dashed #ff3849; */
  /* font-size: calc(5px + 2vmin); */
  display:flex;
}
.App-logo {
  height: 70px;
  pointer-events: none;
  margin-top: 25px;
  position: relative;
  bottom:10px;
  /* border: 2px dashed #387bff; */
}

.navbar {
  /* border: 3px dashed rgb(255, 112, 17); */
  font-size: 20px;
  font-weight: 600;
  max-width: 500px;
  float: right;
}
.Header_links {
  /* border: 3px dashed rgb(65, 255, 17); */
  cursor: pointer;
  margin: 25px;
}
.Header_link {
  /* border: 3px dashed rgb(65, 255, 17); */
  /* margin: 120px; */
  /* padding-right: 20px; */
  border-bottom: 3px solid #222738;
  margin: 10px;
  display: inline-table;

}
.Header_link:hover {
  border-bottom: 3px solid #adbffc;
	transition: all 0.5s ease;
  /* font-size: 19px; */

  /* background-color: #15171d; */
  color: #d6d8db;

}

.support {
  background-color:#2c3242;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  display:block;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
}

.support_hide { 
  transition: 0.5s;
  max-height: 0%;
  overflow: hidden;
  /* display: none; */
  margin: 0px;
  font-size: 0px;
}

.about_show {
  background-color:#2c3242;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  display:block;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  /* height: 100%; */

}
.about_hide {
  transition: 0.5s;
  max-height: 0%;
  overflow: hidden;
  /* display: none; */
  margin: 0px;
  font-size: 0px;
}

.animals_list{
  /* border: 2px solid #38db17; */
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin: 20px;
  padding-left: 3em; */
}