.App {
  /* border: 5px solid rgb(65, 255, 17); */

  /* text-align: center; */
  background-color: #222738;
  z-index: -1;
  color: white;
  margin: 0;
}



.App-header {
  width: 100%;
  background-color: #2c3242;
  color: white;
  /* border: 3px dashed #ff3849; */
  /* font-size: calc(5px + 2vmin); */
  display: flex;
}
.App-logo {
  height: 70px;
  pointer-events: none;
  margin-top: 25px;
  position: relative;
  bottom:10px;
  /* border: 2px dashed #387bff; */
}

.navbar {
  /* border: 3px dashed rgb(255, 112, 17); */
  font-size: 20px;
  font-weight: 600;
  max-width: 100%;
}
.Header_links {
  /* border: 3px dashed rgb(65, 255, 17); */
  cursor: pointer;
}
.Header_link {
  /* border: 3px dashed rgb(65, 255, 17); */

  border-bottom: 3px solid #222738;
  margin: 10px;
  display: inline-table;

}
.Header_link:hover {
  border-bottom: 3px solid #adbffc;
	transition: all 0.5s ease;
  font-size: 22px;

  /* background-color: #15171d; */
  color: #d6d8db;

}

.about_hide {
  display: none;
}

.about_show {
  display: table;
}
